<% stylesheet_link_tag "show"%>
<% if user_signed_in? %>
  <%= form_for [@post, @newcomment] do |form| %>
    <% if form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end%>
    <% end%>
    <div>
      <%= form.text_field :body, placeholder:"Leave a comment here...", class:"commenttextfield"%>
    </div>
    <%= form.button "Submit", class:"commentsubmitbtn"%>
  <% end %>
<% else%>
  You must sign in to leave a comment.
<%end%>