<h1>Index page</h1>
<% @posts.each do |post| %>
  <div>
    <% if post.draft? %>
      <div><br>
        Draft </div>
    <% elsif post.scheduled? %>
      <div><br>
        Scheduled for <%= post.published_at %> </div>
    <% else %>
      <br>
    <%end%>
    <%= link_to post.title, post %>
    <%= post.content %>
  </div>
<% end %>
<%== pagy_nav(@pagy) %>
